body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
}

nav {
    display:flex;
    background-color: black;
    height: 100px;
    width: 100%;
}

#champContainer {
    display:flex;
    flex-wrap: wrap;
}

.newChamp {
    margin: 10px;
    width: 60px;
    height: 60px;
}



